@charset "utf-8";
body {
    background-color: #9E9E9E
}

p {
    font-size: 30px;
    line-height: 1;
    margin: 1% auto;
    text-shadow: 2px 0 2px rgba(255,255,255,1), 0 2px 2px rgba(255,255,255,1), -2px 0 2px rgba(255,255,255,1), 0 -2px 2px rgba(255,255,255,1), 4px 0 4px rgba(0,0,0,1), 0 4px 4px rgba(0,0,0,1), -4px 0 4px rgba(0,0,0,1), 0 -4px 4px rgba(0,0,0,1);        /* 文字の影 */
}

div {
    margin-top: 10px;
}