@charset "utf-8";
body {
    background-color: #9E9E9E
}

.base {
    margin-top: 10px;
}
.stroke{
    padding: 10px;
    color: #CCC;
    font-weight: bold;
    font-size: 30px;
    -webkit-text-stroke:1.5px #000;
    position: relative;
    margin: 0;
}
.fuchiue{
    -webkit-text-stroke: 0;
    position: absolute;
}